# **Final Project**
Group 2

Benjamin Bearman, Carrima Hewitt, Franchesca Mieles, Ariel Pita, Daniel Rawana

ISM6644

Tala Mirzaei

Feb. 22 / 2025

### Import Libraries

In [83]:
import pandas as pd
import numpy as np

### Read the CSV and create dataframe

In [84]:
df = pd.read_csv('Consumer Data - ISM6644 Final Project.csv')
df.head()

,Service,Age,CustomerSince,Customer Gender,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction Score,Unnamed: 9,Unnamed: 10
0,fiber,29,6/23/2010 10:27,M,North,2,61.0,0.32,5.0,NaN,NaN
1,4G,74,6/23/2010 10:27,M,North,0,48.0,0.02,3.0,NaN,NaN
2,phone,34,6/23/2010 10:27,F,Central,0,34.0,0.02,4.0,NaN,NaN
3,phone,60,6/24/2010 10:27,M,North,5,70.0,0.23,5.0,NaN,NaN
4,landline,29,6/24/2010 10:27,M,Central,5,40.0,0.09,5.0,NaN,NaN



---


# Data Cleaning

### Remove empty columns

In [85]:
df = df.iloc[0:, 0:9]
df.head()

,Service,Age,CustomerSince,Customer Gender,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction Score
0,fiber,29,6/23/2010 10:27,M,North,2,61.0,0.32,5.0
1,4G,74,6/23/2010 10:27,M,North,0,48.0,0.02,3.0
2,phone,34,6/23/2010 10:27,F,Central,0,34.0,0.02,4.0
3,phone,60,6/24/2010 10:27,M,North,5,70.0,0.23,5.0
4,landline,29,6/24/2010 10:27,M,Central,5,40.0,0.09,5.0

### View dataframe properties

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Service               9993 non-null   object
 1   Age                   9993 non-null   int64
 2   CustomerSince         9993 non-null   object
 3   Customer Gender       9993 non-null   object
 4   Region                9993 non-null   object
 5   SupportCallsLastYear  9993 non-null   int64
 6   AverageBill           9990 non-null   float64
 7   ChurnIndicator        9993 non-null   float64
 8   Satisfaction Score    9991 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 702.8+ KB

In [87]:
df['Service'].value_counts()

4G          3343
phone       3290
fiber       1694
landline    1666
Name: Service, dtype: int64

In [88]:
df['Customer Gender'].value_counts()

F    5075
M    4918
Name: Customer Gender, dtype: int64

In [89]:
df['Region'].value_counts()

Central    4933
North      2590
South      2470
Name: Region, dtype: int64

In [90]:
df.rename(columns={'Customer Gender':'Sex', 'Satisfaction Score':'Satisfaction'},

inplace=True)

df.head(100)

,Service,Age,CustomerSince,Sex,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction
0,fiber,29,6/23/2010 10:27,M,North,2,61.0,0.32,5.0
1,4G,74,6/23/2010 10:27,M,North,0,48.0,0.02,3.0
2,phone,34,6/23/2010 10:27,F,Central,0,34.0,0.02,4.0
3,phone,60,6/24/2010 10:27,M,North,5,70.0,0.23,5.0
4,landline,29,6/24/2010 10:27,M,Central,5,40.0,0.09,5.0
...,...,...,...,...,...,...,...,...,...
95,landline,32,7/13/2010 10:27,F,Central,1,54.0,0.01,8.0
96,4G,63,7/14/2010 10:27,M,North,10,45.0,0.25,3.0
97,4G,73,7/14/2010 10:27,F,South,5,58.0,0.11,4.0
98,4G,33,7/14/2010 10:27,F,Central,1,51.0,0.04,6.0
99,4G,38,7/14/2010 10:27,M,South,1,105.0,0.72,2.0

In [91]:
# Come Back here to split Columns Just in Case

In [92]:
df['AverageBill'].fillna(df['AverageBill'].mean(),inplace=True)

df['AverageBill'].isna().sum()

0

In [93]:
df['Satisfaction'].fillna(df['Satisfaction'].mean(),inplace=True)

df['Satisfaction'].isna().sum()

df.head(20)

,Service,Age,CustomerSince,Sex,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction
0,fiber,29,6/23/2010 10:27,M,North,2,61.000000,0.32,5.000000
1,4G,74,6/23/2010 10:27,M,North,0,48.000000,0.02,3.000000
2,phone,34,6/23/2010 10:27,F,Central,0,34.000000,0.02,4.000000
3,phone,60,6/24/2010 10:27,M,North,5,70.000000,0.23,5.000000
4,landline,29,6/24/2010 10:27,M,Central,5,40.000000,0.09,5.000000
5,phone,38,6/24/2010 10:27,M,Central,0,71.505105,0.70,2.000000
6,phone,61,6/25/2010 10:27,F,North,0,98.000000,0.03,7.000000
7,fiber,76,6/25/2010 10:27,M,Central,0,105.000000,0.01,4.000000
8,phone,71,6/25/2010 10:27,M,Central,0,103.000000,0.80,2.000000
9,landline,61,6/25/2010 10:27,F,Central,0,85.000000,0.00,9.000000
10,landline,49,6/25/2010 10:27,F,South,0,103.000000,0.00,7.000000
11,fiber,47,6/26/2010 10:27,F,North,5,44.000000,0.19,7.000000
12,fiber,18,6/26/2010 10:27,M,Central,1,79.000000,0.10,5.000000
13,phone,57,6/26/2010 10:27,M,North,3,55.000000,0.05,4.000000
14,4G,22,6/26/2010 10:27,F,Central,1,53.000000,0.04,6.000000
15,4G,49,6/26/2010 10:27,M,South,0,41.000000,0.04,8.000000
16,landline,63,6/26/2010 10:27,M,South,0,63.000000,0.01,6.000000
17,landline,76,6/26/2010 10:27,M,Central,0,104.000000,0.00,5.000000
18,fiber,41,6/27/2010 10:27,F,South,4,74.000000,0.09,5.737564
19,landline,36,6/27/2010 10:27,M,Central,1,118.000000,0.05,5.000000

In [94]:
df.drop_duplicates()

,Service,Age,CustomerSince,Sex,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction
0,fiber,29,6/23/2010 10:27,M,North,2,61.0,0.32,5.0
1,4G,74,6/23/2010 10:27,M,North,0,48.0,0.02,3.0
2,phone,34,6/23/2010 10:27,F,Central,0,34.0,0.02,4.0
3,phone,60,6/24/2010 10:27,M,North,5,70.0,0.23,5.0
4,landline,29,6/24/2010 10:27,M,Central,5,40.0,0.09,5.0
...,...,...,...,...,...,...,...,...,...
9988,landline,72,12/13/2015 10:27,M,North,1,39.0,0.00,4.0
9989,4G,29,12/13/2015 10:27,F,Central,0,86.0,0.00,7.0
9990,phone,41,12/14/2015 10:27,M,Central,6,50.0,0.00,5.0
9991,4G,43,12/14/2015 10:27,F,Central,1,67.0,0.00,7.0
9992,4G,76,12/14/2015 10:27,M,Central,1,90.0,0.00,5.0

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Service               9993 non-null   object
 1   Age                   9993 non-null   int64
 2   CustomerSince         9993 non-null   object
 3   Sex                   9993 non-null   object
 4   Region                9993 non-null   object
 5   SupportCallsLastYear  9993 non-null   int64
 6   AverageBill           9993 non-null   float64
 7   ChurnIndicator        9993 non-null   float64
 8   Satisfaction          9993 non-null   float64
dtypes: float64(3), int64(2), object(4)
memory usage: 702.8+ KB

In [96]:
df["CustomerSince"] = pd.to_datetime(df["CustomerSince"], errors="coerce")

df.head(15)

,Service,Age,CustomerSince,Sex,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction
0,fiber,29,2010-06-23 10:27:00,M,North,2,61.000000,0.32,5.0
1,4G,74,2010-06-23 10:27:00,M,North,0,48.000000,0.02,3.0
2,phone,34,2010-06-23 10:27:00,F,Central,0,34.000000,0.02,4.0
3,phone,60,2010-06-24 10:27:00,M,North,5,70.000000,0.23,5.0
4,landline,29,2010-06-24 10:27:00,M,Central,5,40.000000,0.09,5.0
5,phone,38,2010-06-24 10:27:00,M,Central,0,71.505105,0.70,2.0
6,phone,61,2010-06-25 10:27:00,F,North,0,98.000000,0.03,7.0
7,fiber,76,2010-06-25 10:27:00,M,Central,0,105.000000,0.01,4.0
8,phone,71,2010-06-25 10:27:00,M,Central,0,103.000000,0.80,2.0
9,landline,61,2010-06-25 10:27:00,F,Central,0,85.000000,0.00,9.0
10,landline,49,2010-06-25 10:27:00,F,South,0,103.000000,0.00,7.0
11,fiber,47,2010-06-26 10:27:00,F,North,5,44.000000,0.19,7.0
12,fiber,18,2010-06-26 10:27:00,M,Central,1,79.000000,0.10,5.0
13,phone,57,2010-06-26 10:27:00,M,North,3,55.000000,0.05,4.0
14,4G,22,2010-06-26 10:27:00,F,Central,1,53.000000,0.04,6.0

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Service               9993 non-null   object
 1   Age                   9993 non-null   int64
 2   CustomerSince         9993 non-null   datetime64[ns]
 3   Sex                   9993 non-null   object
 4   Region                9993 non-null   object
 5   SupportCallsLastYear  9993 non-null   int64
 6   AverageBill           9993 non-null   float64
 7   ChurnIndicator        9993 non-null   float64
 8   Satisfaction          9993 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 702.8+ KB

In [98]:



df['z_score'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()

threshold = 3

df['is_outlier'] = df['z_score'].apply(lambda x: abs(x) > threshold)

df.head()

,Service,Age,CustomerSince,Sex,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction,z_score,is_outlier
0,fiber,29,2010-06-23 10:27:00,M,North,2,61.0,0.32,5.0,-1.117500,False
1,4G,74,2010-06-23 10:27:00,M,North,0,48.0,0.02,3.0,1.535261,False
2,phone,34,2010-06-23 10:27:00,F,Central,0,34.0,0.02,4.0,-0.822749,False
3,phone,60,2010-06-24 10:27:00,M,North,5,70.0,0.23,5.0,0.709957,False
4,landline,29,2010-06-24 10:27:00,M,Central,5,40.0,0.09,5.0,-1.117500,False

In [99]:
df['is_outlier'].value_counts()

False    9993
Name: is_outlier, dtype: int64

In [100]:
df['z_score'] = (df['AverageBill'] - df['AverageBill'].mean()) / df['AverageBill'].std()

threshold = 3

df['is_outlier'] = df['z_score'].apply(lambda x: abs(x) > threshold)

df.head()

,Service,Age,CustomerSince,Sex,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction,z_score,is_outlier
0,fiber,29,2010-06-23 10:27:00,M,North,2,61.0,0.32,5.0,-0.442123,False
1,4G,74,2010-06-23 10:27:00,M,North,0,48.0,0.02,3.0,-0.989247,False
2,phone,34,2010-06-23 10:27:00,F,Central,0,34.0,0.02,4.0,-1.578457,False
3,phone,60,2010-06-24 10:27:00,M,North,5,70.0,0.23,5.0,-0.063345,False
4,landline,29,2010-06-24 10:27:00,M,Central,5,40.0,0.09,5.0,-1.325938,False

In [101]:
df['is_outlier'].value_counts()

False    9993
Name: is_outlier, dtype: int64

In [102]:
df['z_score'] = (df['ChurnIndicator'] - df['ChurnIndicator'].mean()) / df['ChurnIndicator'].std()

threshold = 3

df['is_outlier'] = df['z_score'].apply(lambda x: abs(x) > threshold)

df.head()

,Service,Age,CustomerSince,Sex,Region,SupportCallsLastYear,AverageBill,ChurnIndicator,Satisfaction,z_score,is_outlier
0,fiber,29,2010-06-23 10:27:00,M,North,2,61.0,0.32,5.0,1.679604,False
1,4G,74,2010-06-23 10:27:00,M,North,0,48.0,0.02,3.0,-0.271732,False
2,phone,34,2010-06-23 10:27:00,F,Central,0,34.0,0.02,4.0,-0.271732,False
3,phone,60,2010-06-24 10:27:00,M,North,5,70.0,0.23,5.0,1.094203,False
4,landline,29,2010-06-24 10:27:00,M,Central,5,40.0,0.09,5.0,0.183580,False

In [103]:
df['is_outlier'].value_counts()

False    9616
True      377
Name: is_outlier, dtype: int64

TypeError: Invalid comparison between dtype=datetime64[ns] and float64

In [28]:
# Transform the data into a suitable format for analysis.

In [ ]:

df
df_encoded = pd.get_dummies(df, columns=['Service', 'Sex', 'Region'])
df_encoded
df = df_encoded

In [ ]:
# EDA

#print(df.head)

#Describe Shape
print(df.shape)

#Displays a summary of statistics 
print(df.describe())

(9993, 17)
               Age  SupportCallsLastYear  AverageBill  ChurnIndicator  \
count  9993.000000           9993.000000  9993.000000     9993.000000
mean     47.956670              1.908436    71.505105        0.061776
std      16.963456              2.525554    23.760614        0.153741
min      18.000000              0.000000    30.000000        0.000000
25%      34.000000              0.000000    51.000000        0.010000
50%      47.000000              1.000000    72.000000        0.010000
75%      62.000000              3.000000    92.000000        0.040000
max      80.000000             10.000000   120.000000        1.000000

       Satisfaction       z_score   Service_4G  Service_fiber  \
count   9993.000000  9.993000e+03  9993.000000    9993.000000
mean       5.737564 -2.275329e-17     0.334534       0.169519
std        2.051135  1.000000e+00     0.471851       0.375228
min        1.000000 -4.018206e-01     0.000000       0.000000
25%        4.000000 -3.367761e-01     0.000000       0.000000
50%        6.000000 -3.367761e-01     0.000000       0.000000
75%        7.000000 -1.416425e-01     1.000000       0.000000
max       10.000000  6.102632e+00     1.000000       1.000000

       Service_landline  Service_phone        Sex_F        Sex_M  \
count       9993.000000    9993.000000  9993.000000  9993.000000
mean           0.166717       0.329230     0.507855     0.492145
std            0.372741       0.469957     0.499963     0.499963
min            0.000000       0.000000     0.000000     0.000000
25%            0.000000       0.000000     0.000000     0.000000
50%            0.000000       0.000000     1.000000     0.000000
75%            0.000000       1.000000     1.000000     1.000000
max            1.000000       1.000000     1.000000     1.000000

       Region_Central  Region_North  Region_South
count     9993.000000   9993.000000   9993.000000
mean         0.493646      0.259181      0.247173
std          0.499985      0.438207      0.431390
min          0.000000      0.000000      0.000000
25%          0.000000      0.000000      0.000000
50%          0.000000      0.000000      0.000000
75%          1.000000      1.000000      0.000000
max          1.000000      1.000000      1.000000

In [52]:
print(df.info())

print(df.columns.tolist())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9993 entries, 0 to 9992
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Service               9993 non-null   object
 1   Age                   9993 non-null   int64
 2   CustomerSince         9993 non-null   datetime64[ns]
 3   Sex                   9993 non-null   object
 4   Region                9993 non-null   object
 5   SupportCallsLastYear  9993 non-null   int64
 6   AverageBill           9993 non-null   float64
 7   ChurnIndicator        9993 non-null   float64
 8   Satisfaction          9993 non-null   float64
 9   z_score               9993 non-null   float64
 10  is_outlier            9993 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 790.6+ KB
None
['Service', 'Age', 'CustomerSince', 'Sex', 'Region', 'SupportCallsLastYear', 'AverageBill', 'ChurnIndicator', 'Satisfaction', 'z_score', 'is_outlier']